.App {
  margin: 0;
  padding: 2rem 0;
  gap: 1rem;
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-items: center;
  align-items: center;
}

#editor-container {
  max-width: 90%;
  border: 1px solid black;
  border-radius: 1rem;
  text-align: center;
  overflow: hidden;
}

#editor {
  text-align: left;
  font-size: 1rem;
  max-width: 100%;
}

#preview-container {
  border: 1px solid black;
  max-width: 90%;
  text-align: center;
  border-radius: 1rem;
  overflow: hidden;
}

#preview {
  word-break: break-all;
  font-size: clamp(0.6rem, 1.5vw, 1rem);
  border: 1px solid black;
  padding: 1rem 1rem 1rem 1.5rem;
  text-align: left;
}

#preview ul {
  color: red;
}
